## This notebook is created for Capstone project - Week 3 Assignment

In [108]:
#Importing Pandas
import pandas as pd

#Scrapping Wikipedia page to get the table containing list of portal codes of Canada
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M",header=0)

In [109]:
#Getting table as dataframe
df=tables[0]

In [110]:
#Printing first 5 rows of the scrapped table from Wikipedia page
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [111]:
df2=df.drop(df[df['Borough'] == 'Not assigned'].index) 
df2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [112]:
df2.shape

(210, 3)

### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [113]:
df3=df2.groupby(['Postcode','Borough'], as_index=False).agg({'Neighbourhood':','.join})
df3.head()
df3.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [114]:
df3.Neighbourhood.loc[(df3['Neighbourhood']=='Not assigned')] = df3['Borough']
df3.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

###  Print the number of rows of dataframe

In [115]:
df3.shape

(103, 3)